<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}"><![endif]-->
        <title>{{=response.title or request.application}}</title>
        <meta name="application-name" content="{{=request.application}}" />
        <meta name="google-site-verification" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
        <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
    </head>
    <body>
        <div class="wrapper"><!-- for sticky footer -->
            <div class="flash">{{=response.flash or ''}}</div>
            <div class="header">
                <h1 class="remove-bottom" style="margin-top: .5em;">
                    {{=response.title or request.application}}
                </h1>
                <h5>{{=response.subtitle or ''}}</h5>
            </div>
            <div class="breadcrumbs">{{=request.function.replace('_', ' ').title()}}</div>
            <div class="main">
                {{include}}
            </div>
        </div><!-- wrapper -->
        <div class="footer">
            footer
        </div><!-- footer -->
        {{if response.google_analytics_id:}}<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{=response.google_analytics_id}}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script> {{pass}}
    </body>
</html>
